* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: pop 0.2s ease-in-out;
}

.table {
  max-width: 70rem;
  border-collapse: collapse;
  margin: 0 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 20rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15);
}

.table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
  padding: 1rem 2rem;
  text-align: center;
}

thead :hover {
  text-decoration: underline overline;
  color: rgb(218, 81, 28);
}

thead {
  text-decoration: underline;
}

.table tbody tr {
  border-bottom: 0.1rem solid #dddddd;
}

.table tbody tr:hover {
  color: #009879;
}

input {
  width: 4.5rem;
}

button {
  width: 4rem;
  height: 100%;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.table tbody tr:last-of-type {
  border-bottom: 0.2rem solid #009879;
}

/* .table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
} */

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editbtn {
  background-color: #009879;
  color: white;
}

.deletebtn {
  background-color: rgb(218, 81, 28);
  color: white;
}

.tooltip {
  display: none;
  background: #c8c8c8;
  margin-left: 0;
  text-align: center;
  /* padding: 1rem; */
  position: absolute;
  z-index: 1000;
  width: 5rem;
  height: 2rem;
}

.tooltip::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  /* margin-left: -5px; */
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.weatherHover:hover .tooltip {
  display: block;
  opacity: 1;
  animation: pop 0.2s ease-in-out;
}

@keyframes pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#searchbox {
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border: 1px solid white;
  background-color: #009879;
  width: 80%;
  margin: 2rem;
}
#searchbox > * {
  justify-content: center;
  justify-self: center;
  height: 1.5rem;
  margin: 0.5rem;
  padding: 0.1rem;
}

#searchbox > input {
  width: 10rem;
}

button:hover {
  box-shadow: 0.1rem 0.1rem black;
  color: black;
}

.lds-ripple {
  background-color: white;
  position: fixed;
  display: flex;
  z-index: 81;
  display: inline-block;
  position: relative;
  width: 10rem;
  height: 10rem;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #009879;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

#refetch {
  width: 5rem;
}
